:host {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frame {
  flex-grow: 1;
  width: 100%;
  border: none;
}

.url-status {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.215);
}
