<nav class="nav" >
  <div class="nav-header">
    <div class="nav-title">
      Mobile Logo
    </div>
  </div>
  <button class="nav-burger reset-button" (click)="toggleMenu()">
    <label>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </button>

  <ul class="nav-list" [ngClass]="{'opened': opened}">
    <li><button class="nav-button reset-button" (click)="goToApp('app1')">Home</button></li>
    <li><button class="nav-button reset-button" (click)="goToApp('testo')">About</button></li>
    <li><button class="nav-button reset-button" (click)="goToApp('wmf')">Contact</button></li>
  </ul>
</nav>
