<nav class="nav">
  <div class="nav-header">
    <div class="nav-title">Mobile Logo</div>
  </div>
  <button class="nav-burger reset-button" (click)="toggleMenu()">
    <label>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </button>

  <ul class="nav-list" [ngClass]="{ opened: opened }">
    <li *ngFor="let navItem of navItems()">
      <button
        [ngClass]="{ active: navItem.active }"
        class="nav-button reset-button"
        (click)="goToApp(navItem.alias)"
      >
        {{ navItem.title }}
      </button>
    </li>
  </ul>
</nav>
